.p1-box {
  font-size: x-large;
  font-weight: bold;
  font-family: sans-serif;
  margin: 0px 6px 0px 6px;
}

.problem-container {
  width: 100%;
  min-width: 100%;
  padding-left: 80px;
}

#p1-container {
  padding-left: 0px;
}

#p2-nav {
  display: none;
}

#p2-nav.open {
  display: flex;
  flex-direction: column;
}

#p3-button {
  color: white;
  font-size: 15px;
  padding: 14px 14px;
  border-radius: 14px;
  border: 3px solid #3866a3;
  width: 57px;
  background: linear-gradient(to top, #008bff, #008bff);
}

#p3-button:hover {
  background: #006fcc;
}

#p4-text-container {
  overflow-wrap: break-word;
}
